<!-- Navigation-->
<!DOCTYPE html>
<html>
    <body class="masthead2 bg-primary"> 
        <td class="widht">
            <img class="bot-img" src="../../../assets/img/bot.png"/>  
        </td>
        <td class="widht">
            <header class="text-white text-center">
                <div class="container d-flex align-items-center flex-column">
                    <!-- Masthead Avatar Image-->
                    <img class="scale masthead2-avatar mb-5" src="../../../assets/img/logo.png"/>
                    <!-- Masthead Heading-->
                    <h1 class="fron-size masthead2-heading text-uppercase mb-0">Scanner</h1>
                    <h1 class="fron-size masthead2-heading text-uppercase mb-0">bot IA</h1>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                </div>  
            </header>
        </td>
        <td class="widht"></td>
    </body>
</html>
