.scale{
    transform: scale(1.5);
    padding-bottom: 40px;
}

.fron-size{
    font-size: xx-large;
}

.bot-img{
    padding: 0px;
    margin: 0px;
    margin-top: 200px;
    transform: scale(1.0);
    align-self: flex-end;
    align-content: flex-end;
}
.widht{
    height: 100%;
    width: 33%;
}

.masthead2 {
    padding-top: calc(0.5rem);
  }
  .masthead2 .masthead2-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead2 .masthead2-subheading {
    font-size: 1.25rem;
  }
  .masthead2 .masthead2-avatar {
    width: 15rem;
    padding-top: calc(170px);
  }
  @media (min-width: 998px) {
    .masthead2 {
      padding-top: calc(0.5rem);
    }
    .masthead2 .masthead2-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead2 .masthead2-subheading {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }
  }