<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">About us</h4>
                <p class="lead mb-0">
                   About
                </p>
                <p class="lead mb-0">
                    Our brand
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-star"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-bars"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-facebook-f"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Support</h4>
                <p class="lead mb-0">
                    FAQ
                </p>
                <p class="lead mb-0">
                    Support
                </p>
                <p class="lead mb-0">
                    API
                </p>
            </div> 
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Nombre Empresa 2023</small></div>
</div>